<div class="d-flex justify-content-center mt-5">
  <table>
    <tr>
      <th>
        <div class="d-flex text-center justify-content-center mb-3">
          <small class="me-5">*必填欄位</small>
          <h5>請修改你的支出</h3>
        </div>
      </th>
    </tr>
    <form action="/ledger/{{ record._id }}?_method=PUT" method="POST">
      <tr>
        <td>
          <div class="mb-5">
            <label class="me-3" for="name">名稱*：</label>
            <input type="text" id="name" name="name" value="{{ record.name }}">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mb-5">
            <label class="me-3" for="date">日期*：</label>
            <input type="date" id="date" name="date" value="{{ record.date }}">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mb-5">
            <label class="me-3" for="categoriesId">類別*：</label>
            <select name="categoriesId" id="categoriesId" required>
              <option value="" selected disabled>selec</option>
              <option value="1">家局物業</option>
              <option value="2">交通出行</option>
              <option value="3">休閒娛樂</option>
              <option value="4">餐飲食品</option>
              <option value="5">其他</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mb-5">
            <label class="me-3" for="amount">金額*：</label>
            <input type="number" id="amount" name="amount" min="1" value="{{ record.amount }}">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="text-center">
            <button type="submit" class="btn btn-info">送出</button>
          </div>
        </td>
      </tr>
    </form>
  </table>
</div>
